*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(237, 243, 243);
}
.sidebar{
    width: 350px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transform: translateX(-100%);
    transition: 1s ease;
}
.sidebar_active{
    transform: translateX(0);
}
.side_toggle{
    position: fixed;
    top: 20px;
    right: 25px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}
.sidebar .sidebar_hearder{
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
}
.sidebar .sidebar_hearder h1{
    color: cornflowerblue;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.sidebar .sidebar_hearder .close_btn{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    color: red;
    transition: .5s ease;
}
.sidebar .sidebar_hearder .close_btn:hover{
    transform: rotate(360deg);
}
.sidebar .side_items ul li{
    padding: 15px 40px;
    font-size: 30px;
    list-style: none;
    transition: .5s;
}
.sidebar .side_items ul li:hover{
    background-color: rgb(156, 187, 246);
}
.sidebar .side_items ul li a{
    text-decoration: none;
    color: black;
}

@media (max-width:500px){
    .sidebar{
        width: 100vw;
    }
}